In [18]:
from importlib import reload
import sys
import numpy as np 
import matplotlib as mpl
mpl.use('Agg')
import matplotlib.pyplot as plt
plt.ioff()
import seaborn as sns
import pandas as pd
from sklearn.cluster import AgglomerativeClustering
import pybedtools
from joblib import Parallel, delayed
import get_feature_matrix_perchr as gfm
from tqdm import tqdm
import time

## Load transcript annotation data

In [2]:
genome_dir = '/home/braunger/masterthesis/data/genome_data/'
epigenome_dir = '/home/braunger/masterthesis/data/regulatory_data/regulatory_data_old_fibroblasts/'

In [16]:
cell_type = 'old_fibroblasts'
resol_str = '250kb'
resol = 250000
quality = 'MAPQGE30'

Data about the positions of the transcripts on the chromosomes were downloaded using the UCSC Table Browser (assembly: hg19, group: Genes and Gene Predictions, track: Ensembl Genes, table: ensGene)

In [15]:
transcript_annotations = pd.read_csv(genome_dir+'gene_annotation.tsv', sep = '\t', header=0)
selected_cols = ["chrom", "txStart", "txEnd", "name", "strand"]
transcript_annotations = transcript_annotations.loc[:, selected_cols]
transcript_annotations.columns = ["chrom", "start", "end", "name", "score"]

transcript_annotations.head()

  chrom     start       end             name score
0  chr1  66999065  67210057  ENST00000237247     +
1  chr1  66999274  67210768  ENST00000371039     +
2  chr1  66999297  67145425  ENST00000424320     +
3  chr1  66999822  67208882  ENST00000371035     +
4  chr1  66999838  67142779  ENST00000468286     +

### Load RNA-Seq data

In [13]:
rna_seq_counts = pd.read_csv(epigenome_dir + 'GSM2072585_ENCFF913ZKI_transcript_quantifications_hg19.tsv', sep = '\t', header = 0)
#select columns
selected_cols = ["transcript_id", "FPKM"]
rna_seq_counts = rna_seq_counts.loc[:, selected_cols]
#remove version number of transcript_id
rna_seq_counts['transcript_id'] = rna_seq_counts['transcript_id'].str.split(r'.').str.get(0)
#rename columns
rna_seq_counts.columns = ["name", "count"]

rna_seq_counts.loc[1000:1005,:]

                 name  count
1000  ENST00000470664   0.00
1001  ENST00000474842   0.00
1002  ENST00000479953   0.04
1003  ENST00000490965   4.50
1004  ENST00000494258   0.00
1005  ENST00000233156   8.46

### Processing for one chromosome

In [26]:
chrom = 1
# Get chromosome size
sizes_filename = genome_dir+'chrom_hg19.sizes'
df_sizes = pd.read_csv(sizes_filename, sep = '\t', header = None, names=['chr','size'])
chrom_size = int(df_sizes.loc[df_sizes['chr']=='chr'+str(chrom)]['size'])
print(chrom_size)
    
# Divide the chromosome into segments of HIC_RESOLN length
stop_pos = np.arange(resol, chrom_size + resol, resol, dtype = 'int')
df_chrom = pd.DataFrame()
df_chrom['chrom'] = ['chr' + str(chrom)]*len(stop_pos)
df_chrom['start'] = stop_pos - resol
df_chrom['stop'] = stop_pos
df_chrom.head()

249250621

  chrom    start     stop
0  chr1        0   250000
1  chr1   250000   500000
2  chr1   500000   750000
3  chr1   750000  1000000
4  chr1  1000000  1250000

In [39]:
# Convert to bed file
bed_chrom = pybedtools.BedTool.from_dataframe(df_chrom)
bed_chrom_df = bed_chrom.to_dataframe()
    
# Get bed file of the feature
bed = pybedtools.BedTool.from_dataframe(transcript_annotations).sort()
# Get counts for this feature and this chromosome
out = pybedtools.bedtool.BedTool.map(bed_chrom, bed, c = 4, o = 'collapse', F = 0.25)
counts = out.to_dataframe()['name'].values

In [51]:
loci_counts = []
for loc_genes in tqdm(counts):
    time.sleep(.01)
    genes = loc_genes.split(r",")
    genes_df = pd.DataFrame({'name': genes})
    gene_counts = pd.merge(genes_df, rna_seq_counts, on = "name", how = "left")
    loci_count = sum(gene_counts['count'])
    loci_counts.append(loci_count)

df_chrom['counts'] = loci_counts

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 998/998 [01:15<00:00, 13.17it/s]

In [52]:
df_chrom.head()

  chrom    start     stop  counts
0  chr1        0   250000   13.54
1  chr1   250000   500000    1.13
2  chr1   500000   750000   28.70
3  chr1   750000  1000000  142.27
4  chr1  1000000  1250000  191.97